# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm/

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# TypeScript build output
dist/

# Jest cache
.jest/

# Coverage reports
coverage/

# TypeDoc documentation output
docs/

# Branching strategy document (for local reference only)
BRANCHING_STRATEGY.md

# Security report (for local reference only)
SECURITY_REPORT.md

#Low-Devel-Design
LLD.md

#.DS_Store
.DS_Store

promo/
